# SQL string template demo

In [1]:
import athena

## Write query template to disk

In [2]:
%%bash

cat > example.sql <<EOF
select
    *
from default.ds_alldem_union
where network = '{network}'
limit 5
EOF

In [3]:
! cat example.sql

select
    *
from default.ds_alldem_union
where network = '{network}'
limit 5

## Read and fill in template

In [4]:
kw = dict(network='BRVO')
q = open('example.sql').read().format(**kw)
print(q)

select
    *
from default.ds_alldem_union
where network = 'BRVO'
limit 5

## Run query

In [5]:
data = athena.query(q, profile_name='default', quiet=True)
data

,rating_category_cd,audience,nielsen_id,start_date,start_timestamp_day,qaid,feed_pattern_ind,viewers,gender,start_age,...,media_month_year,tv_usage,universe,rating,univ_rep,viewers_rep,tv_usage_rep,ww,media_month_id,network
0,NIELSEN_NHI_CMIT_LIVE,M55-64,6526,1210422,2021-04-22 00:00:00.000,33,D,4864.0,M,55,...,421,2745667,14410000,0.000338,0,0,0,0,475,BRVO
1,NIELSEN_NHI_CMIT_LIVE,M65+,6526,1210420,2021-04-20 00:00:00.000,16,D,4495.0,M,65,...,421,4700106,19429000,0.000231,0,2,0,0,475,BRVO
2,NIELSEN_NHI_CMIT_LIVE,F50-54,6526,1210424,2021-04-24 00:00:00.000,43,D,6232.0,F,50,...,421,1812169,7331000,0.000850,0,0,0,0,475,BRVO
3,NIELSEN_NHI_CMIT_LIVE,M55-64,6526,1210423,2021-04-23 00:00:00.000,11,D,1809.0,M,55,...,421,2696210,14410000,0.000126,0,2,0,0,475,BRVO
4,NIELSEN_NHI_CMIT_LIVE,F50-54,6526,1210422,2021-04-22 00:00:00.000,35,D,9895.0,F,50,...,421,1252183,7331000,0.001350,0,0,0,0,475,BRVO

For a real use case, keep track of which profile_name is needed for any given query.